<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.location.gps" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.moreculture.db.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MoreCulture"
        tools:targetApi="31">

        <activity
            android:name="com.example.moreculture.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.moreculture.EventDetailActivity">

        </activity>

        <activity android:name="com.example.moreculture.EventListActivity">

        </activity>
        <activity android:name="com.example.moreculture.MapViewActivity">

        </activity>
        <activity android:name="com.example.moreculture.AccountEditActivity">

        </activity>
        <activity android:name="com.example.moreculture.tutorial.TutorialStartActivity">

        </activity>
        <activity android:name="com.example.moreculture.tutorial.TutorialUserCreationActivity">

        </activity>
        <activity android:name="com.example.moreculture.tutorial.TutorialUserMapActivity">

        </activity>
        <activity android:name="com.example.moreculture.tutorial.TutorialWelcomActivity">

        </activity>
        <activity android:name="com.example.moreculture.tutorial.TutorialHomeActivity">

        </activity>
        <activity android:name="com.example.moreculture.tutorial.TutorialEventlistActivity">

        </activity>
        <activity android:name="com.example.moreculture.PlaceDetailActivity">

        </activity>




    </application>

</manifest>